:root {
    --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
    width: 100%;
    height: 460px;
    border-radius: 15px;
    padding: 14px;
    background-image: url('../images/img-header-320@1x.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        padding: 16px;
        height: 222px;
        background-image: url('../images/img-header-1200@1x.png');
    }
}

.page-header__menu {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .page-header__navigation {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        gap: 4px;
    }
}

.header-button {
    padding: 12px 24px;
    /* Corectare: am adăugat px */
    background-color: #ffffff;
    border-radius: 100px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    transition: background-color 250ms var(--animation-cubic),
        filter 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
}

.header-button.active {
    color: #ffffff;
    background-color: #000000;
}

.nav-button:hover,
.nav-button:active,
.nav-button:focus {
    background-color: #000000;
    color: #ffffff;
}

.library-button.active,
.library-button:hover,
.library-button:focus,
.library-button:active,
.clear-queue.active,
.clear-queue:hover,
.clear-queue:focus,
.clear-queue:active,
.clear-lists.active,
/* Adăugare: pentru hover, focus, active */
.clear-lists:hover,
.clear-lists:focus,
.clear-lists:active {
    color: #ffffff;
    background-color: #b92f2c;
}

.search-input {
    font-family: 'Roboto', sans-serif;
    padding: 10px 26px;
    background-color: white;
    border-radius: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: black;
    width: 252px;
    height: 34px;
    border: none;
    outline: none;

    @media screen and (min-width: 767px) {
        width: 165px;
        height: 38px;
    }
}

.page-header__logo {
    display: flex;
    margin-top: 290px;
    margin-left: 50px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        margin-top: 116px;
        justify-content: flex-start;
    }
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.page-header__movie-menu {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 390px;
    left: 55px;
    gap: 4px;

    @media screen and (min-width: 768px) {
        left: 430px;
    }

    @media screen and (min-width: 1280px) {
        left: 950px;
    }
}

.page-header__container {
    position: relative;
}

@media screen and (min-width: 768px) {
    .page-header__movie-menu {
        position: absolute;
        top: 0;
        right: 30;
    }
}

.is-hidden {
    display: none;
}