@import './common';
@import './header';
@import './main';
@import './modal';
@import './footer';
@import './pagination.scss';

:root {
  --font-family: 'Roboto', sans-serif;
  --light-gray-background: #f7f7f7;
  --red-colour: #b92f2c;
  --dark-gray-color: #545454;
  --black-color: #000000;
  --white-color: #ffffff;
  --middle-gray-color: #8c8c8c;
  --orange-color: #ff6b08;
}
