<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<style>
  html {
    scroll-behavior: smooth;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    font-size: 20px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: #ff6b08;
    opacity: 0.5;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

  #myBtn:hover {
    background-color: #ff6b08;
    opacity: 1;
  }
</style>
<script>
  let mybutton = document.getElementById('myBtn');

  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 100 ||
      document.documentElement.scrollTop > 100
    ) {
      mybutton.style.display = 'block';
    } else {
      mybutton.style.display = 'none';
    }
  }

  function topFunction() {
    document.documentElement.style.scrollBehavior = 'smooth';
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
